.app-logo {
  color: #424874;
  font-size: 7rem;
}

h1.heading-text {
  color: #424874;
}

.form-element-background,
button.accordion-button {
  background-color: #dcd6f7;
}

.search-logo {
  font-size: 1.5rem;
}

div.dropdown-menu.show.dropdown-menu-end {
  width: 300px;
  background-color: #dcd6f7;
  padding: 8px 8px;
}

input#query:focus,
button.accordion-button:focus {
  border-color: #424874;
  box-shadow: none !important;
  background-color: #f4eeff;
}

button#input-group-dropdown {
  background-color: #424874;
  border-color: #424874;
}

button#input-group-dropdown:hover,
button.accordion-button:hover {
  background-color: #f4eeff;
  border-color: #f4eeff;
  color: #424874;
}

a.form-element-background.dropdown-item:hover {
  background-color: #f4eeff;
}

.add-appointment-logo,
p.add-appointment-text {
  color: #424874;
  font-size: 1.5rem;
}

.footer-text {
  font-family: 'M PLUS 1 Code', sans-serif;
  font-size: 1.2rem;
  color: #424874;
}

a.footer-icon-links {
  color: #424874;
  text-decoration: none;
}

#footer-icon-github {
  font-size: 3.5rem;
  color: #424874;
}

#footer-icon-github:hover,
a.footer-icon-links:hover {
  color: #a6b1e1;
}

img.msm-logo {
  width: 25%;
}

/* Media Queries */

@media (min-width: 0px) and (max-width: 390.98px) {
  .app-logo {
    font-size: 2.5rem;
  }

  h1.heading-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 391px) and (max-width: 767.98px) {
  .app-logo {
    font-size: 3rem;
  }

  h1.heading-text {
    font-size: 2rem;
  }
}
